# Ignorar dependencias de Node.js
frontend-admin/node_modules/
frontend-client/node_modules/
backend/node_modules/
# Ignorar dependencias de Java
backend/target/
# Ignorar archivos de entorno locales y de desarrollo
.env.local
.env.development
.env.test
# Ignorar archivos de entorno en frontend-admin y frontend-client
frontend-admin/.env.local
frontend-client/.env.local
# Ignorar archivos de entorno globales
.env

